.course-review {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
}

.review-username {
    font-size: 24px;
}

.review-timestamp {
    font-size: 16px;
}

.review-message {
    font-size: 18px;
}

.course-review p {
    margin: 0;
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 4px;
}

.review-userData {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-stars {
    margin-left: 4px;
}

.review-star {
    font-size: 24px;
    color: #fff;
    -webkit-text-stroke: 1px #215591;
}

.review-star.filled {
  color:#215591
}