.course-review {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
}

.review-username {
    font-size: 24px;
}

.review-timestamp {
    font-size: 16px;
}

.review-message {
    font-size: 18px;
}

.course-review h4,
.course-review p,
.course-review span {
    margin: 0;
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.review-userData {

}