.rating {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.bar {
    flex: 1;
    width: 85%;
    height: 32px;
    background-color: #E6E6E6;
    border-radius: 5px;
    overflow: hidden;
}

.bar-fill{
    height: 100%;
    background-color: #2151b0;
    transition: width 0.3s ease;
}
