.accordion {
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  border: 1px solid #215591;
  border-radius: 15px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background-color: #215591;
  color:#f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 500;
}

.accordion-body {
  max-height: 0;
  transition: max-height 0.35s ease;
}

.accordion-body.expanded {
  max-height: 500px;
}

.accordion-classes {
  font-size: 24px;
  font-weight: bold;
}

.accordion-class {
  padding: 0.75rem 1rem;
}

.accordion-class:nth-child(odd) {
  background-color: #D6D6D4;
}

.accordion-class:nth-child(even) {
  background-color: #E6E6E6;
}

.accordion-class p {
  margin: 0.25rem 0 0;
}
