/* ACCORDION */
.accordion {
  width: 100%;
  max-width: 1100px;
  margin: 1.2rem auto;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background-color: var(--primary-color);
  cursor: pointer;
  display: flex;
  font-size: 26px;
  font-weight: 555;
  color: #FFFFFF;
  align-items: center;
  gap: 1rem;
}

.accordion-header-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.4rem;
  color: #FFFFFF
}

/* The chevron itself */
.accordion-header-indicator .chevron {
  font-size: 32px;
  transition: transform 0.3s ease;
  display: inline-block;
}

/* When accordion is expanded, rotate the chevron */
.accordion-header-indicator .chevron.expanded {
  transform: rotate(180deg);
}

.accordion-progress-bar {
  display: flex;
  align-items: center;       /* vertically center the text */
  justify-content: flex-start; /* align text to the left */
  min-width: 370px;
  width: 33%;
  height: 28px;
  background-color: var(--bg-color);
  border-radius: 15px;
  margin: auto;
  border: 2px solid var(--hover-color);
  overflow: hidden;
  position: relative;
}

.accordion-progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #D6D6D4;
  border-radius: 15px 0 0 15px;
  transition: width 0.35s ease;
  z-index: 0;
}

[data-theme="dark"] .accordion-progress-fill {
  background-color: #2E2E2E;;
}

.accordion-progress-text {
  padding-left: 10px;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.accordion-body {
  max-height: 0;
  transition: max-height 0.35s ease;
}

.accordion-body.expanded {
  max-height: 5000px;
}

.accordion-classes {
  font-size: 22px;
  font-weight: bold;
}

.accordion-class {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-class-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-class-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
}

.accordion-class-title {
  cursor: pointer;
}

.accordion-class-title:hover {
  text-decoration-line: underline;
}

.accordion-class-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  background-color: #FFFFFF;
  transition: background-color 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.accordion-class-checkbox:hover input {
  background-color: #ccc;
}

.accordion-class-checkbox input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.accordion-class-checkbox input:checked::after {
  content: "";
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-bottom: 6px;
}

.accordion-class:nth-child(odd) {
  background-color: #D6D6D4;
}

.accordion-class:nth-child(even) {
  background-color: #E6E6E6;
}

[data-theme="dark"] .accordion-class:nth-child(odd) {
  background-color: #2E2E2E;
}

[data-theme="dark"] .accordion-class:nth-child(even) {
  background-color: #282828;
}

.accordion-class p {
  margin: 0.25rem 0 0;
}

/* DELETE BUTTON */
.accordion-delete-btn {
  position: relative;
  width: 14px;        /* size of X */
  height: 14px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.accordion-delete-btn::before,
.accordion-delete-btn::after {
  content: "";
  position: absolute;
  width: 3px;            /* line thickness */
  height: 100%;          /* full height of button */
  background-color: var(--primary-color);
  top: 0;
  left: 50%;
  transform-origin: center;
  transition: background-color 0.3s;
}
[data-theme="dark"] .accordion-delete-btn::before,
[data-theme="dark"] .accordion-delete-btn::after {
  background-color: var(--text-muted);
}

.accordion-delete-btn::before {
  transform: rotate(45deg);
}

.accordion-delete-btn::after {
  transform: rotate(-45deg);
}

/* Hover color */
.accordion-delete-btn:hover::before,
.accordion-delete-btn:hover::after {
  background-color: #ff5959;
}