/* ACCORDION */
.accordion {
  width: 100%;
  max-width: 1100px;
  margin: 1.2rem auto;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background-color: var(--primary-color);
  color: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 555;
}

.accordion-body {
  max-height: 0;
  transition: max-height 0.35s ease;
}

.accordion-body.expanded {
  max-height: 5000px;
}

.accordion-classes {
  font-size: 22px;
  font-weight: bold;
}

.accordion-class {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-class-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-class-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
}

.accordion-class-title {
  cursor: pointer;
}

.accordion-class-title:hover {
  text-decoration-line: underline;
}

.accordion-class-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.accordion-class-checkbox:hover input {
  background-color: #ccc;
}

.accordion-class-checkbox input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.accordion-class-checkbox input:checked::after {
  content: "";
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-bottom: 6px;
}

.accordion-class:nth-child(odd) {
  background-color: #D6D6D4;
}

.accordion-class:nth-child(even) {
  background-color: #E6E6E6;
}

.accordion-class p {
  margin: 0.25rem 0 0;
}

/* DELETE BUTTON */
.accordion-delete-btn {
  position: relative;
  width: 14px;        /* size of X */
  height: 14px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.accordion-delete-btn::before,
.accordion-delete-btn::after {
  content: "";
  position: absolute;
  width: 3px;            /* line thickness */
  height: 100%;          /* full height of button */
  background-color: var(--primary-color);
  top: 0;
  left: 50%;
  transform-origin: center;
  transition: background-color 0.2s;
}

.accordion-delete-btn::before {
  transform: rotate(45deg);
}

.accordion-delete-btn::after {
  transform: rotate(-45deg);
}

/* Hover color */
.accordion-delete-btn:hover::before,
.accordion-delete-btn:hover::after {
  background-color: #ff5959;
}