.pop-up-footer {
    padding: 15px 30px;
    border-top: 2px solid var(--primary-color);
    background-color: var(--bg-color);
}

.pop-up-window {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.course-node {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 10em;
}

.course-colour {
    width: 24px;
    height: 24px;
    border-radius: 0.2em;
    border: 2px solid #333;
}

.course-colour.taken {
    background-color: var(--primary-color);
}

.course-colour.not-taken {
    background-color: var(--secondary-color);
}

.course-node span {
    font-size: 14px;
    color: var(--text-color);
}
