.loading, .no-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    color: #636363;
}

.course-node {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.course-code {
    font-weight: bold;
    font-size: 14px;
}


/* ReactFlow Nodes */
.graph-node {
    color: white;
    border: 2px solid #333;
    border-radius: 0.8em;
    padding: 10px;
    width: 10em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.graph-node:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(39, 64, 160, 0.4);
    cursor: pointer;
}

.graph-node.taken {
    background: #2177c8;
}

.graph-node.taken:hover {
    background: #3a8dd9;
}

.graph-node.not-taken {
    background: #aab3bb;
}

.graph-node.not-taken:hover {
    background: #bcc4cc;
}

/* ReactFlow Edge */
.graph-edge {
    stroke: #636363;
    stroke-width: 2px;
}

.graph-edge .react-flow__edge-path {
    stroke: #636363;
    stroke-width: 2;
}

/* Arrowhead styles */
.react-flow__arrowhead {
    fill: #000000;
}

marker {
    fill: #000000;
}
