.loading, .no-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    color: #636363;
}

.course-node {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.course-code {
    font-weight: bold;
    font-size: 14px;
}


/* ReactFlow Nodes */
.react-flow__node.react-flow__node-plannerNode {
    background: transparent;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
}

.react-flow__node.react-flow__node-plannerNode.taken .planner-node-content {
    background: var(--primary-color);
    color: #FFFFFF;
    border: 2px solid #333;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.react-flow__node.react-flow__node-plannerNode.taken .planner-node-content:hover {
    background: var(--hover-color);
}

.react-flow__node.react-flow__node-plannerNode.not-taken .planner-node-content {
    background: #666;
    color: #FFFFFF;
    border: 2px solid #333;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.react-flow__node.react-flow__node-plannerNode.not-taken .planner-node-content:hover {
    background: #363636;
}

[data-theme="dark"] .react-flow__node.react-flow__node-plannerNode.not-taken .planner-node-content:hover {
    background: #4e4e4e;
}

/* ReactFlow Edge */
.graph-edge {
    stroke: #636363;
    stroke-width: 2px;
}

.graph-edge .react-flow__edge-path {
    stroke: var(--text-color);
    stroke-width: 2;
}

/* Arrowhead styles */
.react-flow__arrowhead {
    fill: #000000;
}

marker {
    fill: #000000;
}
