.add-course {
  display: flex;
  justify-self: end;
  align-self: center;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  width: 150px;
  justify-content: center;
}

.add-course:not(.added):hover {
  background-color: var(--hover-color);
}

.add-course.added {
  background-color: #828282;
  cursor: default;
}