.catalogue-course {
  margin-left: 20px;
  margin-right: 20px;
  z-index: 0;
  padding: 1rem 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.catalogue-course:nth-child(odd) {
  background-color: #D6D6D4;
}

.catalogue-course:nth-child(even) {
  background-color: #E6E6E6;
}

.course-title {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
}

.course-title:hover{
  text-decoration-line: underline;
}

.information {
  display: grid;
  grid-template-columns: 4fr .7fr;
  gap: 3rem;
  justify-items: end;
  align-items: end;
}
