.catalogue-course {
  margin-left: 20px;
  margin-right: 20px;
  z-index: 0;
  padding: 1rem 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.catalogue-course {
  background-color: #E6E6E6;
}

[data-theme="dark"] .catalogue-course {
  background-color: #2E2E2E;
}


.course-title {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
}

.course-title:hover{
  text-decoration-line: underline;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 90%;
}