#root {
  margin: 5rem auto;
}

body {
  font-family: "Inter", serif;
  color: #454545;
  background-color: #F2F0EF;
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('opentype');
  font-style: normal;
}