#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Inter", serif;
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('opentype');
  font-style: normal;
}