#root {
  margin: 5rem auto;
  --primary-color: #215591;
  /* --primary-color: #0B6A41; */
}

body {
  font-family: "Inter", serif;
  color: #454545;
  /* background-color: #F2F0EF; */
  background-color: 
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('opentype');
  font-style: normal;
}