:root {
  margin: 5rem auto;
  --primary-color: #215591;
  --secondary-color: #FFFFFF;
  --hover-color: #1A4575;
  --text-color: #454545;
  --text-muted: #454545;
  --bg-color: #F2F0EF;
  --bg-elevated: #F7F6F5;
}

[data-theme="dark"] {
  --primary-color: #181818;
  --secondary-color: #363636;
  --hover-color: #272727;
  --text-color: #F5F5F5;
  --text-muted: #A1A1A1;
  --bg-color: #212121;
  --bg-elevated: #303030;
}

body {
  font-family: "Inter", serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  caret-color: var(--text-color);
}

::placeholder {
  color: var(--text-muted);
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('opentype');
  font-style: normal;
}