services:
  db:
    image: mysql:latest
    container_name: the_database
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: solaire85
      MYSQL_DATABASE: coursesdb
    ports: 
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  scraper:
    build:
      context: ./web-scraper
    container_name: course_scraper
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: solaire85
      DB_NAME: coursesdb
      DB_PORT: 3306
    command: ["python3", "courseScraper.py"]

  backend:
    build:
      context: ./backend
    container_name: main_server
    ports:
      - "3001:3001" 
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: solaire85
      DB_NAME: coursesdb
      DB_PORT: 3306
    depends_on:
      db:
        condition: service_healthy
      scraper:
        condition: service_completed_successfully
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: on-failure
    command: ["npm", "start"]
    
  frontend:
    build: 
      context: ./frontend
    container_name: main_frontend
    ports:
      - "5173:5173"
    environment: 
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]

volumes:
  db_data:
