body {
  background-color: #e8e8e8; 
  margin: 0;
  padding: 0;
}

.navbar {
  position:fixed; 
  justify-self: stretch;
  top: 0;
  left: 0;
  right: 0;

  height: 5em;
  background-color: #1a5b98; 
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 0 1rem;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links {
  display: flex;
}


.nav-links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}


.nav-links li {
  align-content: center;
  padding: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 1.2em;
}

.profile-button {
  margin-left: 2rem;
  align-content: center;
}

.nav-links li:hover {
  background-color: #93c4fd62; 
  transition: background-color 0.3s ease, transform 0.1s ease;

  color: black;
}


.profile-button button:hover {
  background-color: #93c5fd;
  transition: background-color 0.3s ease, transform 0.1s ease;
  border-color:#93c5fd
}

.profile-button button {
  border-radius: 25px;
}


.profile-section {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.mainpage {
  position: fixed; 
  left: 0;
  right: 0;
}

.mainpage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10rem;
}


.website-name h1 {
  font-size: 5rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: black;
  color: #1a5b98;
  font-weight: 550;
  margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.search-bar input {
  flex: 1;
  padding: 1rem 2em;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 50px; 
  outline: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

