body {
  margin: 0;
  padding: 0;
}

.profile-button {
  margin-left: 2rem;
  margin-right: 2rem;
  align-content: center;
}


.profile-button button:hover {
  background-color: #b9daff;
  transition: background-color 0.3s ease, transform 0.1s ease;
  color: black;
  opacity: 1;
  transform: scale(1);
}

.profile-button button {
  align-content: center;
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 0.8em;
  color: black;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 0.9em;
  border-style: none;
}


.title-section {
  font-size: 1.4rem;
  margin-left: 2.5rem;
}


.main-container{
  position:fixed;
  display:grid;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 19em;
}


.website-name h1 {
  font-size: 5rem;
  text-shadow: black;
  color: #1a5b98;
  font-weight: 550;
  margin-bottom: 1rem;
  text-align: center;
}

.search-bar {
  display: flex;
  width: 50em;
}

.search-bar input {
  flex: 1;
  padding: 1rem 2em;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 50px; 
  outline: none;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}

