.title-section {
  font-size: 1.4rem;
  margin-left: 2.5rem;
}


.main-container{
  position:fixed;
  display:grid;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 14em;
}


.website-name h1 {
  font-size: 5rem;
  text-shadow: black;
  color: var(--primary-color);
  font-weight: 550;
  margin-bottom: 1rem;
  text-align: center;
}

[data-theme="dark"] .website-name h1 {
  color: #FFFFFF;
}

.search-bar {
  display: flex;
  width: 50em;
}

.search-bar input {
  flex: 1;
  padding: 1rem 2em;
  font-size: 1rem;
  border: 2px solid var(--secondary-color); 
  background-color: var(--secondary-color);
  border-radius: 50px; 
  outline: none;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}

