.content {
  display: flex;
  flex-direction: column;
}

.planner-header {
  width: 100%;
  max-width: 1111px;
  margin: 4rem auto -1rem auto;
}

.planner-header h1 {
  padding-top: 40px;
  padding-left: 16px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
}

.planner-header hr {
  height: 4px;
  border: none;
  background-color: #215591;
  margin-bottom: 30px;
}