.redirectSearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.redirectSearchBar input {
    width: 100%;
    max-height: 20px;
}

.showDropdown {
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}