.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  justify-self: stretch;
  background-color: #1a5b98; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  z-index: 1;
}

.nav-title {
  cursor: pointer; 
}

.nav-links {
  display: flex;
}


.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li{
  align-content: center;
  text-decoration: none;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  font-size: 1em;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

.nav-links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 128, 207, 0.2);
  opacity: 0;
  border-radius: 12px;
  transform: scale(0);
  transition: all 0.4s;
  z-index: -1;
}

.nav-links li:hover::before {
  opacity: 1;
  transform: scale(1);
}