.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  justify-self: stretch;
  background-color: var(--primary-color); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1em;
  z-index: 2;
}

.nav-title {
  cursor: pointer; 
}

.nav-links {
  display: flex;
  margin-right: 1rem;
}


.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li{
  align-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  font-size: 1em;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

.nav-links li::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0;
  border-radius: 12px;
  z-index: -1;
}

.nav-links li {
  text-decoration: none;
  transition: 0.4s;
  border-bottom: 4px solid transparent;
}

.nav-links li:hover {
  border-bottom: 4px solid var(--secondary-color);
}

.nav-links div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 1rem;
}

.nav-darkmode i {
  transition: opacity 0.15s ease-in-out;
  display: inline-block;
  position: relative;
}

.nav-darkmode:active i {
  opacity: 0.3;
}