.graph-flow {
    flex: 1;
    width: 100%;
    height: 100%;
}

/* Edge and arrow styling */
.react-flow__edge-path {
    stroke: #3a3a3a;
    stroke-width: 2;
}

.react-flow__arrowhead {
    fill: #3a3a3a;
}

marker {
    fill: #3a3a3a;
}
