.search-bar-container {
    display: flex;
    gap: 0;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
}

.search-input {
    width: 30em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    border-right: none;
    font-size: 14px;
    outline: none;
}

.search-input:focus {
    border-color: #1a5b98;
    border-right: none;
}

.search-button {
    background-color: #1a5b98;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: #1f3180;
}
